dist: xenial
language: 'python'

python:
  - '3.5'
  - '3.6'
  - '3.7'
  
sudo: false

install: 
  - 'pip install -r requirements.txt'
  - 'pip install -e .'

script:
  - 'make test'
  - 'make coverage'
  
after_success:
  - 'coveralls'